In [1]:
import pandas as pd 
cp = pd.read_csv("car data.csv")

In [2]:
cp.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual

In [3]:
cp.shape

(301, 8)

In [4]:
cp.describe()

              Year  Selling_Price  Present_Price     Kms_Driven
count   301.000000     301.000000     301.000000     301.000000
mean   2013.627907       4.661296       7.628472   36947.205980
std       2.891554       5.082812       8.644115   38886.883882
min    2003.000000       0.100000       0.320000     500.000000
25%    2012.000000       0.900000       1.200000   15000.000000
50%    2014.000000       3.600000       6.400000   32000.000000
75%    2016.000000       6.000000       9.900000   48767.000000
max    2018.000000      35.000000      92.600000  500000.000000

In [5]:
cp

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual
...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual

In [6]:
cp.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
dtype: int64

In [7]:
X = cp.drop(columns = ['Car_Name','Year','Selling_Price','Fuel_Type','Seller_Type','Transmission'])   #Xindependent variables 
Y = cp['Selling_Price'] #species dependent

In [8]:
X

     Present_Price  Kms_Driven
0             5.59       27000
1             9.54       43000
2             9.85        6900
3             4.15        5200
4             6.87       42450
..             ...         ...
296          11.60       33988
297           5.90       60000
298          11.00       87934
299          12.50        9000
300           5.90        5464

[301 rows x 2 columns]

In [9]:
Y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [10]:
X_std = pd.DataFrame(X,columns=['Present_Price','Kms_Driven'])

In [11]:
X_std

     Present_Price  Kms_Driven
0             5.59       27000
1             9.54       43000
2             9.85        6900
3             4.15        5200
4             6.87       42450
..             ...         ...
296          11.60       33988
297           5.90       60000
298          11.00       87934
299          12.50        9000
300           5.90        5464

[301 rows x 2 columns]

In [12]:
X.describe()

       Present_Price     Kms_Driven
count     301.000000     301.000000
mean        7.628472   36947.205980
std         8.644115   38886.883882
min         0.320000     500.000000
25%         1.200000   15000.000000
50%         6.400000   32000.000000
75%         9.900000   48767.000000
max        92.600000  500000.000000

In [13]:
X_nor = pd.DataFrame(X,columns=['Present_Price','Kms_Driven'])

In [14]:
X_nor

     Present_Price  Kms_Driven
0             5.59       27000
1             9.54       43000
2             9.85        6900
3             4.15        5200
4             6.87       42450
..             ...         ...
296          11.60       33988
297           5.90       60000
298          11.00       87934
299          12.50        9000
300           5.90        5464

[301 rows x 2 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_nor,Y,test_size=0.5,random_state=1)

In [ ]:
from sklearn.linear_model import LinearRegression
lrmodel = LinearRegression()

In [ ]:
lrmodel

LinearRegression()

In [ ]:
lrmodel.fit(X_train,Y_train)

LinearRegression()

In [ ]:
k_result = lrmodel.predict(X_test)

In [ ]:
k_result

array([ 5.35961378,  3.23958263,  1.74554103,  3.37405386,  1.94403015,
        4.72836789,  1.84230112,  3.59288259,  7.57416242,  1.50593976,
        5.73544966,  3.7008394 ,  4.22974109,  4.17582481,  1.08511484,
        1.35966671,  5.75616638,  5.3648417 ,  5.4924366 ,  5.84314314,
        4.36206767,  5.71034593, 11.41215934,  6.06327934, 10.95265595,
        3.39900466,  5.52336534,  1.65240187,  0.80852241,  1.50696005,
        1.27757058,  1.19991781,  3.80254463, 18.3857715 , 15.78913218,
        4.1488368 ,  4.23595931,  1.96170908,  1.34517058,  4.27944769,
        7.34857371,  7.54612691,  1.39871172,  4.16700819,  3.69945689,
        4.26955676,  5.56538467,  5.49530683,  6.09140498,  2.27152066,
        3.76625308,  1.56826517,  3.2478071 ,  3.43918036,  2.15375136,
        0.9102868 , 17.84941483,  1.74290416,  5.363711  ,  4.8709335 ,
        1.36425583,  2.2401451 ,  8.36322069,  4.98794242,  1.50164216,
        1.56865914,  4.42535852,  1.5431412 ,  9.61346501,  1.21441394,
        7.05790775,  6.0722411 ,  9.46850375,  1.48998609,  2.49925559,
        4.07825098,  2.87400823,  7.90786325,  6.19701286,  4.27755288,
        3.11838729,  2.21115285, 10.55498876,  8.4608253 ,  1.90054178,
        4.71083768,  3.34805714,  1.63655065,  1.71835527,  5.33289167,
        4.09926146,  4.95549377,  4.72336988,  3.8259185 ,  8.43802345,
        8.01673647,  1.75474134,  2.01746035,  1.21587149,  0.99857535,
        1.9134346 ,  7.64341042,  2.69481147, 15.078822  ,  4.16688589,
        1.68491172,  1.4727603 ,  2.03535575,  2.27841804, 10.68510599,
        3.6799632 ,  5.47437543,  5.43925387,  1.41852574,  4.41639676,
        3.03031456,  1.65944501,  7.75511217,  2.71153921,  5.54862358,
        1.60068844,  4.81732663,  5.03718163,  1.49910689,  3.9197603 ,
        5.63327618, 15.78913218,  1.61171025,  4.48220598,  3.70691368,
       18.29879474,  3.03356885,  3.98761168, 12.5685721 ,  7.48248892,
        1.59604145,  7.39969661,  3.4430407 ,  2.51259   ,  5.12738065,
        7.62123134,  4.91492844,  4.18142531,  2.29735753, 11.46081553,
       14.4120002 ,  1.58154532,  2.75720934,  3.41973116,  1.6536545 ,
        5.49530683])

In [ ]:
Y_test

285   7.40
248   4.00
150   0.50
217   3.15
107   1.25
      ...
137   0.65
24    2.90
236   3.10
134   0.65
219   4.50
Name: Selling_Price, Length: 151, dtype: float64

In [ ]:
X_test

     Present_Price  Kms_Driven
285           8.50       15059
248           4.60       30000
150           0.83        6000
217           4.43       15000
107           1.50       15000
..             ...         ...
137           0.79       16000
24            4.41       56879
236           4.43       11849
134           0.81       11800
219           9.40       36000

[151 rows x 2 columns]

In [ ]:
acc = lrmodel.score(X_test,Y_test)

In [ ]:
acc

0.8087122510715539

In [ ]:
import pickle
pickle.dump(lrmodel,open('car1_model','wb'))

In [ ]:
model = pickle.load(open('car1_model','rb'))

In [ ]:
result = model.predict(X_test)

In [ ]:
result

array([ 5.35961378,  3.23958263,  1.74554103,  3.37405386,  1.94403015,
        4.72836789,  1.84230112,  3.59288259,  7.57416242,  1.50593976,
        5.73544966,  3.7008394 ,  4.22974109,  4.17582481,  1.08511484,
        1.35966671,  5.75616638,  5.3648417 ,  5.4924366 ,  5.84314314,
        4.36206767,  5.71034593, 11.41215934,  6.06327934, 10.95265595,
        3.39900466,  5.52336534,  1.65240187,  0.80852241,  1.50696005,
        1.27757058,  1.19991781,  3.80254463, 18.3857715 , 15.78913218,
        4.1488368 ,  4.23595931,  1.96170908,  1.34517058,  4.27944769,
        7.34857371,  7.54612691,  1.39871172,  4.16700819,  3.69945689,
        4.26955676,  5.56538467,  5.49530683,  6.09140498,  2.27152066,
        3.76625308,  1.56826517,  3.2478071 ,  3.43918036,  2.15375136,
        0.9102868 , 17.84941483,  1.74290416,  5.363711  ,  4.8709335 ,
        1.36425583,  2.2401451 ,  8.36322069,  4.98794242,  1.50164216,
        1.56865914,  4.42535852,  1.5431412 ,  9.61346501,  1.21441394,
        7.05790775,  6.0722411 ,  9.46850375,  1.48998609,  2.49925559,
        4.07825098,  2.87400823,  7.90786325,  6.19701286,  4.27755288,
        3.11838729,  2.21115285, 10.55498876,  8.4608253 ,  1.90054178,
        4.71083768,  3.34805714,  1.63655065,  1.71835527,  5.33289167,
        4.09926146,  4.95549377,  4.72336988,  3.8259185 ,  8.43802345,
        8.01673647,  1.75474134,  2.01746035,  1.21587149,  0.99857535,
        1.9134346 ,  7.64341042,  2.69481147, 15.078822  ,  4.16688589,
        1.68491172,  1.4727603 ,  2.03535575,  2.27841804, 10.68510599,
        3.6799632 ,  5.47437543,  5.43925387,  1.41852574,  4.41639676,
        3.03031456,  1.65944501,  7.75511217,  2.71153921,  5.54862358,
        1.60068844,  4.81732663,  5.03718163,  1.49910689,  3.9197603 ,
        5.63327618, 15.78913218,  1.61171025,  4.48220598,  3.70691368,
       18.29879474,  3.03356885,  3.98761168, 12.5685721 ,  7.48248892,
        1.59604145,  7.39969661,  3.4430407 ,  2.51259   ,  5.12738065,
        7.62123134,  4.91492844,  4.18142531,  2.29735753, 11.46081553,
       14.4120002 ,  1.58154532,  2.75720934,  3.41973116,  1.6536545 ,
        5.49530683])

In [ ]:
X_test

     Present_Price  Kms_Driven
285           8.50       15059
248           4.60       30000
150           0.83        6000
217           4.43       15000
107           1.50       15000
..             ...         ...
137           0.79       16000
24            4.41       56879
236           4.43       11849
134           0.81       11800
219           9.40       36000

[151 rows x 2 columns]

In [ ]:
result = model.predict([[12,223500]])

In [ ]:
result

array([4.39824794])